# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# MQTT / runtime artifacts (ako dodaš kasnije)
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# build / cache
# =========================
build/
dist/
*.egg-info/

# =========================
# project-specific (optional safety)
# =========================
*.jpg
*.png
*.bin
